/* IDENTIDADE VISUAL */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Passion One', sans-serif; */
/* font-family: 'Bungee Spice', sans-serif; */
/*
    --marrom: #400202;
    --vermelho: #C32300;
    --laranja: #D97B29;
    --amarelo: #F8FF4E;
    --verde-limao: #CAE400;
    --beje: #FEE0A2;
    --branco: #FDF3DD;
*/

/* SLOGAN */
.banner-inicial{
    margin: 0;
    width: 99vw;
}

/* CONTAINER DE BEM VINDOS */
.bem-vindo{
    text-align: center;
    position: absolute;
    width: 30vw;
    left: 30vw;
    right: 30vw;
    z-index: 10;
    background-color: var(--beje);
    padding: 20px;
    margin: -80px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desc-bemvindo{
    align-items: center;
}

/* PARTE DOS LANCHES POPULARES */
.lanches-populares{
    width: 100vw;
    margin: 40vh 0; 
    align-items: center;
}

.lanche-pop:nth-child(2n){
    display: flex;
    flex-direction: row;
}

.lanche-pop:nth-child(2n-1){
    display: flex;
    flex-direction: row-reverse;
}

.lanche-pop{
    column-gap: 12px;
    align-items: center;
    margin: 0.2em 0;
    padding: 1.6em;
    border-radius: 1.2em;
}

.imagem-lanche{
    width: 200px;
    height: 200px;
    padding: 1.6em;
    border-radius: 0.5em;
    background-color: var(--marrom);
}

.imagem-lanche:hover{
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.imagem-lanche img{
    margin: auto auto;
    max-width: 180px;
}

.descricao-pop{
    text-align: end;
}

.descricao-pop p{
    margin: 10px 0;
}

.cardapio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.8em;
}

.cardapio a {
    font-size: 0.8em;
}

/* MAPA */
.localizacao{
    margin-bottom: 200px;
}