.card-login {
    max-width: 40vw;
    margin: 50px auto;
    padding: 50px;
    border-radius: 0.5em;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur(13.5px );
    background: linear-gradient(131.83deg, #EDAE65 0%, #743A2F 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-login h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.card-login img, .card-login button{
    margin: 0 auto;
}

form p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

form p a {
    font-size: 0.9em;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

form p a:hover{
    color: var(--branco);
    transition: 0.6s;
}

form button {
    padding: 20px 40px;
    color: var(--branco);
    font-size: 1.4em;
}