/* IDENTIDADE VISUAL */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Passion One', sans-serif; */
/* font-family: 'Bungee Spice', sans-serif; */
/*
    --marrom: #400202;
    --vermelho: #C32300;
    --laranja: #D97B29;
    --amarelo: #F8FF4E;
    --verde-limao: #CAE400;
    --beje: #FEE0A2;
    --branco: #FDF3DD;
*/

/* NAV BAR */
.navbar{
    background-color: var(--marrom);
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    color: var(--branco);
    font-size: 1.4em;
    letter-spacing: 0.02em;
}

.navbar ul li:hover{
    cursor: pointer;
    color: var(--verde-limao);
    transition: 0.5s;
}

.logo{
    align-items: center;
    column-gap: 5px;
}

a h1{
    text-transform: lowercase;
    font-size: 1.5em;
    color: var(--branco);
}
.nav-filhos{
    column-gap: 30px;
}

/* FOOTER */

footer{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 40vh;
    background-color: var(--laranja);
    padding: 40px;
}

footer div{
    width: 30%;
}


/**MENU HAMBURGUER**/

.menu-hamburguer div {
    width: 32px;
    height: 2px;
    background-color: var(--branco);
    margin: 8px;
    transition: 0.3s;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}



/* RESPONSIVIDADE */

/* TABLET */
@media (max-width: 768px) {

.nav-filhos {
    flex-direction: column;
    background-color: var(--marrom);
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 999;
    top: 18Svh;
    right: 0;
    width: 50vw;
    height: 80vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

    .nav-filhos li {
        margin-left: 0;
        opacity: 0;
    }

.menu-hamburguer {
    display: block;
}

.nav-filhos.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-hamburguer.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-hamburguer.active .linha2 {
    opacity: 0;
}

.menu-hamburguer.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
}
