@*Estilos de css*@
@section Stylesheets{
    <link rel="stylesheet" href="~/css/Produtos.css"/>
}
<section class="">
    <h3>Home/Cardápio</h3>
    <div class="row-container cabecalho-produtos">
        <div>
            <a><img src="~/img/produtos/icon-lanches.png" alt="lanches" /></a>
            <h4>Lanches</h4>
        </div>
        <div>
            <a><img src="~/img/produtos/icon-bebidas.png" alt="bebidas" /></a>
            <h4>Bebidas</h4>
        </div>
        <div>
            <a><img src="~/img/produtos/icon-porcoes.png" alt="porcoes" /></a>
            <h4>Porções</h4>
        </div>
        <div>
            <a><img src="~/img/produtos/icon-sobremesa.png" alt="sobremesas" /></a>
            <h4>Sobremesas</h4>
        </div>
    </div>

</section>

<section class="produtos">
    <div class="produto">
        <div class="imagem-produto">
            <img src="" alt=""/>
        </div>
        <div>
            <p>Nome do lanche</p>
            <p>Descrição do lanche</p>
            <p>Preço do lanche</p>
        </div>
    </div>
</section>