<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Ecommerce - LosHamburgoros</title>

    <link rel="stylesheet" href="~/css/geral.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    @RenderSection("Stylesheets", false)
</head>
<body>
    <header>
        <nav class="row-container navbar">
            <a class="row-container logo" asp-controller="Home" asp-action="Index">
                <img src="~/img/identidade/logo.png" alt="logo los hamburgoros">
                <h1>Los Hamburgoros</h1>
            </a>

            <div class="menu-hamburguer">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>

            <ul class="row-container nav-filhos">
                <a asp-controller="Home" asp-action=""><li class="nav-item">Cardapio</li></a>
                <a asp-controller="Home" asp-action=""><li class="nav-item">Contato</li></a>
                <a asp-controller="Home" asp-action=""><li class="nav-item">Peça aqui</li></a>
                <a asp-controller="Home" asp-action="Login"><li class="nav-item">Minha conta</li></a>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="row-container">
        <div>
            <p>Horário de atendimento das 18:00-22:00</p>
            <p>Endereço do estabelecimento</p>
        </div>

        <div class="cardapio">
            <a>LANCHES</a>
            <a>PORÇÕES</a>
            <a>BEBIDAS</a>
            <a>SOBREMESA</a>
        </div>

        <div class="redes-sociais">
            <img src="~/img/identidade/icon-whatsapp.png"/>
            <img src="~/img/identidade/icon-facebook.png"/>
            <img src="~/img/identidade/icon-intagram.png"/>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
